.navy-background {
    background-color: #000066!important;
}

#logo {
    height: 40px;
    width: 40px;
    margin: 0px;
}

.float-right {
    float: right;
}

section {
    padding: 10px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #000000;
}

footer {
    padding: 5px;
}

.editIcon {
    width: 24px;
    height: 24px;
    margin: 0px 10px
}

input {
    margin: 0px 10px 0px 0px;
    padding: 1px 5px;
    width: 200px
}

form > button {
    margin: 0px 10px 0px 0px;
}

.float-left {
    float: left;
    margin-right: 10px;
}

.profile-line {
    overflow: auto;
    padding-bottom: 10px;
}

#messages {
    padding: 0px;
}

.message {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.message-good {
    background: darkseagreen;
    border-color: darkgreen;
}

.message-bad {
    background: lightcoral;
    border-color: darkred;
}

.bgLogo {
    background-image: url(../images/logo.png);
    height: 100vh;
    width: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to cover the entire container */
    background-color: #000066;
    padding: 10px 0px;
    background-attachment: fixed;
    overflow: auto;
}

#welcome {
    padding: calc 20px 20px;
}

.transparent-dark {
    background-color: rgba(255, 255, 255, .93);
    padding: 10px;
    border-radius: 50px;
}

.big-button {
    background-color: rgba(255, 255, 255, .93);
    padding: 10px;
    border-radius: 50px;
    margin: 10px auto;
    display: block;
    width: 75%;
    text-align: center;
    color: #000000;
}

.big-button:hover {
    background-color: #FFFFFF;
}